*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}



.navbar{
    background:black;
    border-bottom:3px solid orange;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    color:orange;
    font-size:40px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.navbar a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.navbar a:hover{
    color:orange;
}



.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    color:orange;
    font-size:60px;
}

.hero p{
    margin-top:10px;
    font-size:22px;
}



.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
    display:flex;
    gap:30px;
}


.info-box{
    flex:1;
    background:#1a1a1a;
    border:2px solid orange;
    border-radius:15px;
    padding:25px;
    height: 400px;
}

.info-box h3{
    font-size: 40px;
}

.info-box h2{
    color:orange;
    margin-bottom:20px;
    font-size: 100px;
}

.information-box{
    margin-bottom:15px;
    font-size:18px;
    font-size:30px ;
}

.social-links{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:20px;
}

.social-links a{
    text-decoration:none;
    text-align:center;
    color:white;
    padding:12px;
    border-radius:8px;
    font-weight:bold;
}

.instagram{
    background:linear-gradient(
        45deg,
        #f58529,
        #dd2a7b,
        #8134af
    );
}

.tiktok{
    background:black;
    border:2px solid orange;
}



.form-section{
    flex:2;
    background:#1a1a1a;
    border:2px solid orange;
    border-radius:15px;
    padding:25px;
}

.form-section h2{
    color:orange;
    margin-bottom:20px;
}

#contactForm{
    display:flex;
    flex-direction:column;
    gap:15px;
    width: 800px;
}

#contactForm input,
#contactForm textarea{
    padding:12px;
    background:#222;
    color:white;
    border:2px solid orange;
    border-radius:8px;
    font-size:16px;
}

#contactForm textarea{
    height:150px;
    resize:none;
}

#contactForm button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:orange;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

#contactForm button:hover{
    background:white;
}



@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .hero h1{
        font-size:40px;
    }
}
.admin-card{
    background:#111;
    border:2px solid orange;
    border-radius:15px;
    padding:25px;
    width:300px;
    box-shadow:0 0 15px rgba(255,165,0,.4);
}

.admin-card h2{
    color:orange;
    text-align:center;
    margin-bottom:20px;
}



.admin-info{
    animation:floatCard 3s ease-in-out infinite;
}

.admin-info p{
    background:#1b1b1b;
    padding:12px;
    margin:10px 0;
    border-left:4px solid orange;
    border-radius:8px;
    transition:.3s;
}

.admin-info p:hover{
    transform:translateX(10px);
    box-shadow:0 0 15px orange;
}

@keyframes floatCard{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-8px);
    }
    100%{
        transform:translateY(0);
    }
}